/*
 * SPDX-FileCopyrightText: 2026 Pixel3rr0r
 *
 * SPDX-License-Identifier: MIT
 */

/*MAIN*/
QMainWindow,
QDockWidget {
    background-color: #080808;
}

QWidget {
    /* border: 1px solid #ff0000; */
    font-family: "Segoe UI Variable Text Semibold", "Segoe UI", serif;
    background: transparent;
}

QObject,
QObject::separator,
QObject::handle,
QObject::tab-bar,
QObject::tab,
QObject::section {
    outline: 0;
    selection-color: #ffffff;
    selection-background-color: rgba(255, 255, 255, 100);
    alternate-background-color: transparent;
}

QDialog,
QWizard *,
QCalendarWidget *,
#qswPages > QObject {
    background-color: #080808;
    color: #ffffff;
}

/*TOOLBUTTON*/
QToolBar {
    background-color: transparent;
    spacing: 0;
    padding: 8px;
    border-radius: 16px;
    margin: 16px;
    background: #121416;
    border: 1px solid #272727;
}

QToolBar::separator,
QMenu::separator {
    background: #272727;
    height: 1px;
    margin: 6px 0;
}

QToolButton {
    background-color: #1a1c1e;
	border: 1px solid #272727;
    border-radius: 8px;
    font-weight: bold;
    padding: 6px 12px;
}

QToolButton:on {
    background-color: rgba(255, 255, 255, 23);
}

QToolButton:hover {
    background-color: rgba(255, 255, 255, 23);
}

QToolButton:pressed {
    background-color: rgba(255, 255, 255, 7);
    border: 1px solid rgba(255, 255, 255, 8);
    color: #c8c8c8;
}

QToolButton::menu-indicator {
	image: url(theme:ComboBox.png);
	width: 28px;
	height: 28px;
    right: 4px;
    subcontrol-origin: margin;
    subcontrol-position: center right;
}

QToolButton::menu-arrow {
	image: url(theme:ComboBox.png);
	width: 32px;
	height: 32px;
    right: 16px;
    border-left: 1px solid #272727;
}

QToolButton::menu-button {
	background: rgba(0,0,0,0%);
	border: none;
}

/* MENU */
QMenuBar {
    background-color: transparent;
    color: #ffffff;
    padding: 8px;
}

QMenuBar::item {
    background-color: transparent;
    padding: 8px 16px;
    margin-left: 4px;
    border-radius: 8px;
}

QMenuBar::item:selected {
    background-color: rgba(255, 255, 255, 20);
}

QMenuBar::item:pressed {
    background-color: rgba(255, 255, 255, 20);
}

QMenu {
    background-color: #121416;
    border: 1px solid #272727;
    border-radius: 8px;
    padding: 2px 4px;
}

QMenu::indicator,
QMenu::icon {
    left: 4px; 
}

QMenu::item {
    background-color: transparent;
    padding: 4px 16px;
    border-radius: 4px;
    min-width: 64px;
    margin: 2px 0;
}

QMenu::item:selected {
    background-color: rgba(255, 255, 255, 20%);
}

QMenu::item:pressed {
    background-color: rgba(255, 255, 255, 10%);
}

QMenu::right-arrow {
    image: url(theme:TreeViewClose.png);
    min-width: 40px;
    min-height: 18px;
}

QMenu::separator { margin: 3px 0 }

QMenuBar:disabled {
    color: rgba(255, 255, 255, 25%);
}

QMenu::item:disabled {
    color: rgba(255, 255, 255, 25%);
    background-color: transparent;
}

/* PUSHBUTTON */
QPushButton {
    background-color: #1a1c1e;
	border: 1px solid #272727;
    border-radius: 8px;
    font-weight: bold;
    padding: 6px 16px;
}

QPushButton:hover {
    background-color: rgba(255, 255, 255, 23);
}

QPushButton:pressed,
QPushButton:pressed:focus {
    background-color: rgba(255, 255, 255, 7);
    color: #c8c8c8;
}

QPushButton:disabled {
	color: #aaaaaa;
	background-color: rgba(150, 150, 150, 23);
}

/* GROUPBOX */
QGroupBox {
    margin-top: 8px;
    border-radius: 16px;
    border: 1px solid #1a1c1e;
    background: #121416;
    padding: 8px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
	font-size: 24px;
	color: #FFFFFF;
    padding-right: 4px;
    padding-bottom: 4px;
}

QGroupBox::title::disabled {
    color: rgba(255, 255, 255, 25%)
}

/* LISTVIEW */
QListView {
    border-radius: 16px;
    border: 1px solid #1a1c1e;
    padding: 8px;
    background: #121416;
}

QListView::item {
    border-radius: 8px;
    margin-bottom: 4px;
    padding: 4px 8px;
}

QListView::item:hover {
    background-color: rgba(255, 255, 255, 33);
}

QListView::item:selected {
    background-color: rgba(255, 255, 255, 50);
}

/*TREEVIEW*/
QTreeView {
    background-color: transparent;
    color: #ffffff;
    outline: 0;
    selection-background-color: rgba(255, 255, 255, 100);
}

QTreeView::indicator,
QTreeView::icon {
    margin: 6px; 
}

QTreeView::item {
    color: #ffffff;
    min-width: 60px;
    padding: 5px 4px;
    background-color: transparent;
    outline: 0;
}

QTreeView::item:hover,
QTreeView::item:focus {
    background-color: rgba(255, 255, 255, 8);
    outline: 0;
}

QTreeView::item:selected {
    color: #ffffff;
    background-color: transparent;
    outline: 0;
}

QTreeView::item:selected:active {
    background-color: rgba(255, 255, 255, 10);
    outline: 0;
}

QTreeView::branch:has-children:closed {
    image: url(theme:TreeViewClose.png); 
}

QTreeView::branch:has-children:open {
    image: url(theme:TreeViewOpen.png); 
}

QTreeView::branch:has-children:open:hover {
    image: url(theme:TreeViewOpen.png); 
}

/*HEADERVIEW*/
QHeaderView {
    font-family: "Segoe UI Variable Small", serif;
    font-size: 12px;
    background-color: transparent; 
    text-align: center;
    qproperty-defaultAlignment: AlignVCenter;
}

QHeaderView::section {
    background-color: rgba(255, 255, 255, 0.05);
    color: #d8d8d8;
    padding: 4px;
    padding-left: 8px;
    padding-right: 20px;
    border-radius: 0;
}

QHeaderView::section:hover {
    background-color: rgba(255, 255, 255, 14);
}

QHeaderView::up-arrow {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 19px;
    height: 13px;
}

QHeaderView::down-arrow {
    margin-bottom: 4px;
    margin-right: 5px;
    width: 19px;
    height: 13px;
}

QHeaderView::up-arrow {
    image: url(theme:SpinBoxDown.png); 
}

QHeaderView::down-arrow {
    image: url(theme:SpinBoxUp.png);
}

/*TABWIDGET*/
QTabWidget::pane {
    border-radius: 16px;
    border: 1px solid #1a1c1e;
    padding: 8px;
    background: #121416;
    margin-top: 16px;
}

QTabWidget::tab-bar {
	
}

QTabBar::tab {
    background: transparent;
    margin-right: 16px;
    padding: 8px 0;
    border-bottom: 2px solid transparent
}

QTabBar::tab:last {
    margin-right: 0;
}

/* 
QTabBar::tab:first {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

QTabBar::tab:last {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
} */

QTabBar::tab:hover {
    border-bottom-color: rgba(27, 217, 106, 33%);
}

QTabBar::tab:selected {
    border-bottom-color: rgba(27, 217, 106, 100%)
}

QTabBar::tab:disabled {
    color: rgba(255, 255, 255, 50%);
}

/*SCROLL VERTICAL*/
QScrollBar:vertical {
    border: 6px solid rgba(255, 255, 255, 0);
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    width: 16px;
}

QScrollBar:vertical:hover {
    border: 5px solid rgba(255, 255, 255, 0);
}

QScrollBar::handle:vertical {
    background-color: rgba(255, 255, 255, 130);
    border-radius: 2px;
    min-height: 25px;
}

QScrollBar::sub-line:vertical {
    image: url(theme:ScrollTop.png);
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover {
    image: url(theme:ScrollTopHover.png);
}

QScrollBar::sub-line:vertical:pressed {
    image: url(theme:ScrollTopPressed.png);
}

QScrollBar::add-line:vertical {
    image: url(theme:ScrollBottom.png);
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover {
    image: url(theme:ScrollBottomHover.png);
}

QScrollBar::add-line:vertical:pressed {
    image: url(theme:ScrollBottomPressed.png);
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/*SCROLL HORIZONTAL*/
QScrollBar:horizontal {
    border: 6px solid rgba(255, 255, 255, 0);
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    height: 16px;
}

QScrollBar:horizontal:hover {
    border: 5px solid rgba(255, 255, 255, 0);
}

QScrollBar::handle:horizontal {
    background-color: rgba(255, 255, 255, 130);
    border-radius: 2px;
    min-width: 25px;
}

QScrollBar::sub-line:horizontal {
    image: url(theme:ScrollLeft.png);
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover {
    image: url(theme:ScrollLeftHover.png);
}

QScrollBar::sub-line:horizontal:pressed {
    image: url(theme:ScrollLeftPressed.png);
}

QScrollBar::add-line:horizontal {
    image: url(theme:ScrollRight.png);
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover {
    image: url(theme:ScrollRightHover.png);
}

QScrollBar::add-line:horizontal:pressed {
    image: url(theme:ScrollRightPressed.png);
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QAbstractScrollArea {
  background-color: transparent; 
}

/*PROGRESSBAR*/
QProgressBar {
    text-align: right;
    background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:1, stop:0.119403 rgba(255, 255, 255, 20), stop:0.273632 rgba(0, 0, 0, 0));
    border-radius: 1px;
    margin-top: 14px;
    margin-bottom: 14px;
}

QProgressBar::chunk {
    background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:1, stop:0.119403 rgba(255, 255, 255, 250), stop:0.273632 rgba(0, 0, 0, 0));
    border-radius: 2px;
}

/*QProgressBar {
    text-align: right;
    background-color: rgba(255, 255, 255, 25);
    border-radius: 3px;
    margin-right: 40px;
    margin-top: 9px;
    margin-bottom: 9px;
}

QProgressBar::chunk {
    background-color: #4cac77;
    border-radius: 3px;
}*/

/*SPINBOXES*/
QSpinBox {
    min-width: 60px;
    background-color: #1a1c1e;
	border: 1px solid #272727;
    border-radius: 8px;
    font-weight: bold;
    padding: 4px 8px;
}

QSpinBox:hover {
    background-color: rgba(255, 255, 255, 23);
}

QSpinBox::focus {
    color: rgba(255, 255, 255, 200);
    border: 1px solid rgba(255, 255, 255, 8);
    background-color: rgba(255, 255, 255, 23);
}

QSpinBox::up-button,
QSpinBox::down-button {
    image: url(theme:SpinBoxUp.png);
    width: 25px;
}

QSpinBox::down-button {
    image: url(theme:SpinBoxDown.png);
}

QSpinBox::drop-down {
    background-color: transparent;
    width: 50px;
}

QSpinBox:disabled {
    color: rgba(255, 255, 255, 25%);
    background-color: rgba(255, 255, 255, 13);
    border: 1px solid rgba(255, 255, 255, 5);
}

QSpinBox::up-button:disabled {
    image: url(theme:SpinBoxUpDisabled.png);
}

QSpinBox::down-button:disabled {
    image: url(theme:SpinBoxDownDisabled.png);
}

/*COMBOBOX*/
QComboBox {
    background-color: #1a1c1e;
	border: 1px solid #272727;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 16px;
}

QComboBox:hover {
    background-color: rgba(255, 255, 255, 23);
}

QComboBox::down-arrow {
    image: url(theme:ComboBox.png);
    width: 40px;
    margin-left: 15px;
}

QGroupBox QComboBox::down-arrow {
    width: 38px;
    height: 40px;
}

QComboBox::drop-down {
    background-color: transparent;
    min-width: 50px;
}

QComboBox:disabled {
    color: rgba(255, 255, 255, 25%);
    background-color: rgba(255, 255, 255, 13);
}

QComboBox::down-arrow:disabled {
    image: url(theme:ComboBoxDisabled.png);
}

QComboBox QAbstractItemView {
    background-color: #1a1c1e;
	border: 1px solid #272727;
    font-weight: bold;
    padding: 4px;
    selection-color: #dddddd;
    selection-background-color: rgba(255, 255, 255, 20%);
}

/*TEXTEDIT*/
QTextEdit,
QPlainTextEdit,
QLineEdit {
    background-color: #1a1c1e;
	border: 1px solid #1a1c1e;
    color: #ffffff;
    border-radius: 8px;
    padding: 6px;
    min-height: 17px;
}

QTextEdit:hover,
QPlainTextEdit:hover,
QLineEdit:hover {
    border-color: #272727;
}

QTextEdit:focus,
QPlainTextEdit:focus,
QLineEdit:focus {
    border-color: #272727;
}

InstanceView QTextEdit:focus {
    background-color: #1f1f1f;
}

QTextEdit:disabled,
QPlainTextEdit:disabled,
QLineEdit:disabled {
    color: rgba(255, 255, 255, 25%);
    background-color: rgba(255, 255, 255, 13);
    border: 1px solid rgba(255, 255, 255, 5);
}

/* CHECKBOX, RADIOBUTTON, MENU, GROUPBOX, TREEVIEW */

QGroupBox::indicator,
QMenu::indicator,
QCheckBox::indicator,
QRadioButton::indicator,
QTreeView::indicator {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid #272727;
    background-color: transparent;
    margin-right: 5px;
}

QGroupBox::indicator:hover,
QMenu::indicator:hover,
QCheckBox::indicator:hover,
QRadioButton::indicator:hover,
QTreeView::indicator:hover {
    background-color: rgba(27, 217, 106, 10%);
    border: 1px solid rgba(27, 217, 106, 20%);
}

QGroupBox::indicator:pressed,
QMenu::indicator:pressed,
QCheckBox::indicator:pressed,
QRadioButton::indicator:pressed,
QTreeView::indicator:pressed {
    background-color: rgba(27, 217, 106, 10%);
    border: 1px solid rgba(27, 217, 106, 50%);
}

QGroupBox::indicator:checked,
QMenu::indicator:checked,
QCheckBox::indicator:checked,
QRadioButton::indicator:checked,
QTreeView::indicator:checked {
    background-color: rgba(27, 217, 106, 100%);
    border: 1px solid rgba(27, 217, 106, 100%);
    image: url(theme:CheckBox.png);
}

QGroupBox::indicator:checked:pressed,
QMenu::indicator:checked:pressed,
QCheckBox::indicator:checked:pressed,
QTreeView::indicator:checked:pressed {
    image: url(theme:CheckBoxPressed.png);
}

QCheckBox::indicator:indeterminate,
QGroupBox::indicator:indeterminate,
QTreeView::indicator:indeterminate,
QTableView::indicator:indeterminate {
    background-color: rgba(27, 217, 106, 100%);
    border: 1px solid rgba(27, 217, 106, 100%);
    image: url(theme:CheckBoxInterminate.png);
}

QCheckBox::indicator:indeterminate:hover,
QGroupBox::indicator:indeterminate:hover,
QTreeView::indicator:indeterminate:hover,
QTableView::indicator:indeterminate:hover {
}

QCheckBox::indicator:indeterminate:pressed,
QGroupBox::indicator:indeterminate:pressed,
QTreeView::indicator:indeterminate:pressed,
QTableView::indicator:indeterminate:pressed {
    image: url(theme:CheckBoxInterminatePressed.png);
}


QGroupBox::indicator:disabled,
QMenu::indicator:disabled,
QCheckBox::indicator:disabled,
QRadioButton::indicator:disabled,
QTreeView::indicator:disabled {

}

QCheckBox::indicator:indeterminate:disabled,
QGroupBox::indicator:indeterminate:disabled,
QTreeView::indicator:indeterminate:disabled,
QTableView::indicator:indeterminate:disabled {
    border: 1px solid rgba(255, 255, 255, 25%);
    background-color: rgba(255, 255, 255, 25%);
    image: url(theme:CheckBoxInterminateDisabled.png);
}

QGroupBox::indicator:checked:disabled,
QMenu::indicator:checked:disabled,
QCheckBox::indicator:checked:disabled,
QTreeView::indicator:checked:disabled {
    border: 1px solid rgba(255, 255, 255, 25%);
    background-color: rgba(255, 255, 255, 25%);
    image: url(theme:CheckBoxDisabled.png); 
}
QRadioButton {
    min-height: 30px;
    max-height: 30px;
}

QRadioButton::indicator {
    border-radius: 8px;
}

QRadioButton::indicator:pressed {
    image: url(theme:RadioButton.png);
}

QRadioButton::indicator:checked {
    image: url(theme:RadioButton.png);
}

QRadioButton::indicator:checked:hover {
    image: url(theme:RadioButtonHover.png);
}

QRadioButton::indicator:checked:pressed {
    image: url(theme:RadioButtonPressed.png);
}

QRadioButton:disabled {
    color: rgba(255, 255, 255, 25%);
}

/* SLIDER */
QSlider:horizontal {
    min-width: 100px;
    min-height: 30px;
}

QSlider::groove:horizontal {
    height: 4px; 
    background-color: #272727;
    border-radius: 2px
}

QSlider::handle:horizontal {
    background-color: #121416;
    border: 2px solid rgba(27, 217, 106, 100%);
    width: 12px;
    height: 12px;
    margin: -6px 0;
    border-radius: 8px;
}

QSlider::handle:horizontal:hover {
    border-width: 4px;
    width: 8px;
    height: 8px;
    margin: -6px 0;
}

QSlider::handle:horizontal:pressed {
    background-color: rgba(27, 217, 106, 100%);
}

QSlider::groove:horizontal:disabled {
    background-color: rgba(255, 255, 255, 50%);
}

QSlider::handle:horizontal:disabled {
    border-color: rgba(255, 255, 255, 50%);
}

/*OTHER*/
QStatusBar::item {
    background: transparent;
}

QGroupBox
QToolButton {
    padding: 6px;
}

InstanceView
{
	border-radius: 16px;
    margin: 16px;
    background: #121416;
    border: 1px solid #272727;
    padding: 16px;
    margin-right: 0;
}

#mainToolBar {
}

#mainToolBar QToolButton
{
	margin-right: 8px;
}

#instanceToolBar QToolButton
{
	margin: 4px 0;
}

#mainToolBar QToolButton
{
	padding: 5px;
}

#mainToolBar QToolButton[popupMode="2"] {
	padding-right: 16px; 
}

#newsToolBar QToolButton {
    margin-right: 8px;
}

#statusBar QLabel {
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 15px;
}

QSizeGrip {
	height: 0px;
	width: 0px;
}

QToolTip {
    background-color: #121416;
    border: 1px solid #272727;
    border-radius: 8px;
    padding: 2px 4px;
}